#on ne versionne pas les executables generes par le code du repository
main_PM
main_Com_ST
main_FDIR
main_Ground
main_arinc

# autres
listpid
pid_COM
pid_PM
pid_FDIR
pid_ARINC
LogError.txt
src/planManager/plans/*
src/planManager/tm/*
src/communication/tmRecuSol/*
src/communication/planRecuSol/*
src/communication/toSend/*
Ground/received/*

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
